<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //SEO
    meta(name='keywords' content='portfolio, intégrateur, louis')
    meta(name='author' content='Widdy Louis')
    meta(name='copyright' content='© Copyright 2020 - Widdy Louis')

    //CSS
    link(rel="stylesheet", href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/index.css")
    title Responsive Website
  body
    //header 
    header#header
      .container
        .hdr__nav
          img(src="assets/images/logo.png", alt="").logo
          .nav__burger
            .line
            .line
            .line

        .header__text
          h1 The surpose is to <br> teach, bring learning to people
          span.square
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae, officiis similique at consequuntur rerum aliquam ratione, sed harum placeat enim est omnis ex voluptatem illum quam, provident earum natus.
          a.header__btn(href="#") Lire plus
          .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="") 
                  
    
    //sideNav 
    nav#sideNav
      ul.nav__list
        each val, i in ['home', 'about us','features', 'courses', 'offer', 'contact']
            li.nav__item
              a.nav__link=val

    
    //about 
    section#about
      .about__leftCol
        img(src="assets/images/about.png", alt="").image__leftCol

      .about__rightCol
        .about__text
          h1 about us
          span.square
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, magnam porro esse eius repellat consequatur cumque voluptatem. Exercitationem tempora, ad, commodi sed aut eligendi voluptatibus error reiciendis consectetur deleniti repellat odit, voluptas minima magni vel aliquam unde quidem eum vitae.
          .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="")

          h2 " Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, quaerat. Nemo porro reiciendis iure similique placeat eveniet molestiae natus sunt? "
          h3 Codwerk
    
    //features
    section#features
      .feature__row
        each val, index in [{image: 'assets/images/pic-1.png', titre: 'Lorem ipsum', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}, {image: 'assets/images/pic-2.png', titre: 'Lorem ipsum', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}, {image: 'assets/images/pic-3.png', titre: 'Lorem ipsum', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}]
          .feature__Col
            img(src= val.image, alt= val.titre)
            h4= val.titre
            p= val.content
      .features__btn 
        .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="") 
                  i.icon(class=val)
        a.header__btn(href="#") Essaie Gratuit
    
    //courses
    section#courses
      .container.course-row
        .courses__leftCol
          .courses__txt
            h1 The surpose is to <br> teach, bring learning to people
            span.square
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae, officiis similique at consequuntur rerum aliquam ratione, sed harum placeat enim est omnis ex voluptatem illum quam, provident earum natus.

            a.header__btn(href="#") Tout les cours

            .line
              each val, i in [1 , 2, 3]
                span(class="line-"+val) 
                  a(href="")

        .courses__rightCol
          img(src="assets/images/course.png", alt="")
    
    //offer
    section#offer
      .offer__leftCol
        img(src="assets/images/offer.png", alt="").image__leftCol

      .offer__rightCol
        .offer_text
          h1 Limitless learning, <br> limitless possibilities 
          span.square
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, magnam porro esse eius repellat consequatur cumque voluptatem. Exercitationem tempora, ad, commodi sed aut eligendi voluptatibus error reiciendis consectetur deleniti repellat odit, voluptas minima magni vel aliquam unde quidem eum vitae.

          a.header__btn(href="#") Essaie Gratuit

          .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="")

    script(src="assets/js/index.js")
      