/*** Color Variables ***/
/*** Mixins  ***/
/*** Extends ***/
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #5D66D3;
  z-index: 2;
  -webkit-transition: all 480ms;
  -o-transition: all 480ms;
  transition: all 480ms; }

/*** Default Styles ***/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none;
  outline: none; }

body {
  font-family: 'circular std', sans-serif; }

#header {
  height: 100vh;
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover; }
  #header .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    #header .container .hdr__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; }
      #header .container .hdr__nav .logo {
        margin-top: 30px;
        width: 100px; }
      #header .container .hdr__nav .nav__burger {
        width: 2.5rem;
        height: 1.2rem;
        position: relative;
        cursor: pointer;
        z-index: 3; }
        #header .container .hdr__nav .nav__burger .line {
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background-color: #D67086;
          position: absolute;
          display: block;
          right: 0;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          #header .container .hdr__nav .nav__burger .line:nth-child(1) {
            top: 0; }
          #header .container .hdr__nav .nav__burger .line:nth-child(2) {
            top: 50%;
            margin-top: -1px;
            width: 2rem; }
          #header .container .hdr__nav .nav__burger .line:nth-child(3) {
            top: 100%;
            margin-top: -2px;
            width: 1.5rem; }
        #header .container .hdr__nav .nav__burger:hover .line {
          width: 100%; }
    #header .container .header__text {
      max-width: 350px;
      margin-top: 140px;
      /*position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);*/ }
      #header .container .header__text h1 {
        font-size: 34px;
        font-weight: 600; }
      #header .container .header__text .square {
        height: 12px;
        width: 12px;
        display: inline-block;
        background-color: #353A85;
        margin: 15px 0; }
      #header .container .header__text p {
        font-size: 15px;
        line-height: 20px;
        color: #777; }
      #header .container .header__text .header__btn {
        display: inline-block;
        padding: 18px 40px;
        background: transparent;
        border: 2px solid #353A85;
        font-weight: bold;
        margin-top: 20px;
        -webkit-transition: all 480ms;
        -o-transition: all 480ms;
        transition: all 480ms; }
        #header .container .header__text .header__btn:hover {
          background-color: #353A85;
          color: #fff; }
      #header .container .header__text .line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px; }
        #header .container .header__text .line span a {
          display: inline-block; }
          #header .container .header__text .line span a .icon {
            font-size: 30px;
            color: #fff;
            cursor: pointer; }
        #header .container .header__text .line .line-1 {
          width: 15px;
          height: 15px;
          background-color: #353A85; }
        #header .container .header__text .line .line-2 {
          width: 80px;
          height: 1px;
          margin-top: 10px;
          background-color: #353A85; }
        #header .container .header__text .line .line-3 {
          width: 60px;
          height: 1px;
          margin-top: 10px;
          background-color: #353A85; }

#sideNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #sideNav .nav__list .nav__item {
    margin: 50px 20px; }
    #sideNav .nav__list .nav__item .nav__link {
      text-transform: uppercase;
      color: #fff;
      cursor: pointer; }
  #sideNav.is-active {
    right: 0;
    z-index: 1; }
