/*** Color Variables ***/
$violet: #353A85;
$blanc: #fff;
$grey: #777;
$grey-2: #797979;
$rose: #D67086;
$violet-2: #5D66D3;
$violet-3: #292949;
$violet-4: #8CABEF;
$beige: #EFBFA5;
$black: #292949;

@import 'mixins.scss';
@import 'extend.scss';

/*** Default Styles ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	//overflow-x: hidden;
  //overflow-y: scroll;
  //overflow: hidden;
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'circular std', sans-serif;
}



/* header */
#header {
  height: 100vh;
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;

  .container {
    @include centrer(1200px, 0 auto);
    height: 100%;
    position: relative;

    .hdr__nav {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .logo {
        margin-top: 30px;
        width: 100px;
      }

      .nav__burger {
        width: 2.25rem;
        height: 1.2rem;
        position: fixed;
        right: 160px;
        cursor: pointer;
        z-index: 3;
        transition: all 480ms;

        .line {
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background-color: $rose;
          position: absolute;
          display: block;
          right: 0;
          transition: all 480ms;


          &:nth-child(1){
            top: 0;
          }

          &:nth-child(2) {
            top: 50%;
            margin-top: -1px;
            width: 1.5rem;
          }

          &:nth-child(3) {
            top: 100%;
            margin-top: -2px;
            width: 1rem;
          }

        }

        
        &.active {
          .line:nth-child(1) {
            width: 1rem;
          }
          .line:nth-child(2) {
            
          }
            .line:nth-child(3) {
            width: 100%;
          }
        }
      }
    }

    .header__text {
      max-width: 350px;
      margin-top: 140px;
      /*position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);*/

      @extend %blockDetails;

      .header__btn {
        @extend %btnv1;
      }

      .line {
        @extend %lineDetails;
        span {
        
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

/*** Extends ***/


/* sideNav */
#sideNav {
  @extend %sideNav;
  display: flex;
  align-items: center;

  .nav__list {

    .nav__item {

      margin: 50px 20px;
      .nav__link {
        text-transform: uppercase;
        color: $blanc;
        cursor: pointer;
      }
    }
  }

  &.is-active {
    right: 0;
    z-index: 1;
  }
}

/* about */
#about, #offer {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .about__leftCol, .offer__leftCol {
     @include w50(50%);
     .image__leftCol {
       width: 100%;
     }
  }

  .about__rightCol, .offer__rightCol {
    @include w50(50%);
    text-align: right;
    .about__text, .offer_text {
      max-width: 500px;
      margin-right: 100px;
      display: inline-block;
      h1 {
        @include h1;
        text-transform: capitalize;
      }
      .square {
        @include square;
      }
      
      p {
        @include paragrapheStyle;
      }

      .line {
        align-items: flex-end;
        @extend %lineDetails;
      }

      h2 {
        @include titre(28px, italic, 50px 0 10px, null);
      }

      h3 {
        @include titre(20px, italic, null, $grey-2);
      }
    }
  }
}

/* features */
#features {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  .feature__row {

    @include row(80%, auto, flex, center, center, space-around, wrap);
    .feature__Col {
      @include w25(25%);

      img {
        width: 100px;
      }

      h4 {
        @include titre(20px, null, null, null);
        margin: 15px 0;
        font-weight: 600;
      }

      p {
        @include paragrapheStyle;
      }
    }

  }
  
  .features__btn {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .line {
      align-items: flex-end;
      @extend %lineDetails;
      margin-right: 25px;
    }
    .header__btn {
      @extend %btnv1;
    }
  }

}

/* courses */
#courses {
  padding: 100px 0;

  .course-row {
    @include centrer(1200px, 0 auto);
    @include row(null, null, flex, center, null, null, wrap);

    .courses__leftCol, .courses__rightCol {
      @include w50(50%);
    }

    .courses__leftCol {

      .courses__txt {
        max-width: 350px;
        @extend %blockDetails;
        .line {
          @extend %lineDetails;
        }
        .header__btn {
          @extend %btnv1;
        }
      }

    }

    .courses__rightCol {
      img {
        width: 100%;
      }
    }
  }
}

/*** offer ***/
#offer {
  .header__btn {
    @extend %btnv1;
  }
}

/*** contact ***/
#contact {
  .container {
    @include centrer(1200px, 0 auto);
  }
  .contact__row {

    @include row(null, null, flex, center, null, null, wrap);

    .contact__leftCol, .contact__rightCol {
      @include w50(50%);
    }

    .contact__leftCol {
      h1 {
        @include h1;
      }

      .form {
        max-width: 400px;
        margin: 30px 0;

        .form__group {
          z-index: 2;
          position: relative;
          margin-bottom: 10px;

          .input__field {
            width: 100%;
            padding: 15px;
            padding-left: 50px;
            color: $rose;
            border: 2px solid $violet;
            outline: none;
            font-size: 16px;
            transition: all 480ms;

            &::placeholder {
              color: $black;
              margin-left: 10px;
              font-weight: 600;
              letter-spacing: 2px;
              opacity: .5;
            }
          }
          label {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;

            i {
              position: absolute;
              color: $rose;
              top: 50%;
              left: 25px;
              transform: translateY(-50%);
            }
          }
        }

        .btn__box  {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .header__btn {
            @extend %btnv1;
            padding: 18px 0;
            width: 48%;
            text-align: center;

          }
        }

        .line {
          @extend %lineDetails;
        }
      }
    }

    .contact__rightCol {
      img {
        width: 100%;
      }
    }
  }
}

/*** footer ***/
#footer {
  padding: 50px 0 30px;

  .container {
    @include centrer(1200px, 0 auto);
  }

  .footer__row {
    hr {
      width: 100%;
      border:0;
      border-top: 1px solid $violet;
    }

    @include row(null, null, flex, center, null, space-between, wrap);

    .footer__leftCol {

      flex-basis: 50%;
      margin-top: 60px;

      .footer__links {

        @include row(null, null, flex, null, null, space-between, wrap);

        .link__title {
          display: flex;
          flex-direction: column;

          h4 {
            @include titre(18px, null, null, $violet);
            margin-bottom: 20px;
            font-weight: 600;
          }

          small {
            font-size: 13px;
            margin-bottom: 5px;
            color: $grey;
            cursor: pointer;
          }
        }
      }
    }

    .footer__rightCol {
      flex-basis: 35%;

      .footer__info {
        @include row(null, null, flex, flex-end,null, space-between, wrap);
        .copyright-text {
         @include width(40%);
         @include row(null, null, flex, null ,null, space-between, wrap)
         
         small {
          font-size: 13px;
          margin-bottom: 5px;
          color: $grey;
          cursor: pointer;
         }
        }

        .footer__logo {
          @include width(40%);
          img {
            width: 100px;
          }
          .header__btn {
            @extend %btnv1;
          }
        }
      }
    }
  }
}